
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form id="my-form" method="post" action="/home/addperson">
            <input type="text" id="first-name" name="firstName" placeholder="First Name" class="form-control" />
            <br />
            <input type="text" id="last-name" name="lastName" placeholder="Last Name" class="form-control" />
            <br />
            <input type="text" id="age" name="age" placeholder="Age" class="form-control" />
            <br />
            <input id="newsletter" type="checkbox" name="subscribetonewsletter" value="true" />
            Subscribe to newsletter?
            <button id="submit-button" disabled class="btn btn-primary">
                Submit
                <span class="glyphicon glyphicon-phone"></span>
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <script src="/js/index.js"></script>
}